<!DOCTYPE html>
<html>
<head>
  <title>Cyrus API | Documentation</title>
  <link rel="stylesheet" href="./style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bg-primary text-neutral">