<nav class="p-4 max-w-7xl">
  <div class="max-w-6xl mx-auto w-full flex justify-end gap-4">
    <a href="/">Home</a>
    <a href="/docs">Docs</a>
    <a href="https://github.com/krzysztofkaptur/fakeapi" target="_blank">GitHub</a>
    <a href="/">Buy me a coffee</a>
  </div>
</nav>