
<nav class="px-4 lg:px-10 py-4 max-w-7xl flex justify-between absolute right-0 left-0 items-center">
  <div class="flex justify-between w-full">
    <%- include('./logo'); %>
    <div class="max-w-6xl mx-auto w-full flex justify-end gap-4 items-center">
      <a href="/" class="font-semibold">Home</a>
      <a href="/docs" class="font-semibold">Docs</a>
      <a href="https://github.com/krzysztofkaptur/fakeapi" target="_blank" class="font-semibold">GitHub</a>
    </div>
  </div>
</nav>