<%- include('../layouts/base'); %>

  <section>
    <main class="max-w-4xl mx-auto">
      <%- include('../components/nav'); %>
      
      <section class="flex flex-col gap-4 px-4 py-16">
        <h1 class="text-4xl font-semibold">Fakeapi</h1>
        <p class="text-lg">Free to use FAKE API.</p>
        <div class="flex gap-4">
          <a href="https://github.com/krzysztofkaptur/fakeapi" target="_blank" class="border border-orange-400 p-2">View on GitHub</a>
          <a href="/docs" class="bg-orange-400 p-2">Read docs</a>
        </div>
      </section>
    </main>
  </section>

<%- include('../layouts/footer'); %>