<%- include('../layouts/base'); %>

  <main class="max-w-7xl mx-auto relative">
    <%- include('../components/nav'); %>
    
    <section class="flex flex-col gap-20 px-4 py-16 text-center min-h-screen justify-center">
      <header class="flex flex-col gap-8">
        <h1 class="text-7xl font-semibold"><span class="text-accent">Cyrus</span> API</h1>
        <h3 class="text-lg">Free to use fake REST API endpoints for your next prototype.</h3>
      </header>
      <div class="flex gap-4 justify-center">
        <a href="https://github.com/krzysztofkaptur/fakeapi" target="_blank" class="border border-link text-link py-2 px-4 font-semibold">View on GitHub</a>
        <a href="/docs" class="bg-accent py-2 px-4 text-primary font-semibold">Read docs</a>
      </div>
    </section>

    <%- include('../components/footer'); %>
  </main>

<%- include('../layouts/footer'); %>