<div class="bg-accent p-1 pl-0.5 rounded-lg flex">
  <div class="bg-primary rounded-lg">
    <span class="text-accent font-semibold p-2">Cyrus</span>
  </div>
  <div>
    <span class="text-secondary font-semibold p-2 uppercase">api</span>
  </div>
</div>