<aside id="sidebar" class="hidden fixed border-r min-h-screen px-4 py-20 lg:block w-60 border-secondary z-50 bg-primary h-full overflow-auto">
  <div class="relative">
    <div class="flex flex-col gap-12">
      <section class="flex flex-col gap-2">
        <h4 class="text-xl font-semibold"> 
          <a href="#todos" class="uppercase hover:text-accent">General</a>
        </h4>
        <a href="#how_to" class="text-link text-sm hover:text-accent">How to use it</a>
      </section>
  
      <section class="flex flex-col gap-6">
        <h4 class="text-xl font-semibold">
          <a href="#todos" class="uppercase hover:text-accent">Todos</a>
        </h4>
        <% todos.forEach(function(todo){ %>
          <a href="#<%= todo.id %>" class="text-link text-sm hover:text-accent"><%= todo.title %></a>
        <% }); %>
      </section>

      <section class="flex flex-col gap-6">
        <h4 class="text-xl font-semibold">
          <a href="#users" class="uppercase hover:text-accent">Users</a>
        </h4>
        <% users.forEach(function(user){ %>
          <a href="#<%= user.id %>" class="text-link text-sm hover:text-accent"><%= user.title %></a>
        <% }); %>
      </section>
    </div>
    <button id="close-nav" class="lg:hidden absolute top-4 right-4">Close</button>
  </div>
</aside>